Use this utlity to update the returns and std_dev fields within investment-options.csv

In [1]:
%%javascript
IPython.OutputArea.prototype._should_scroll = function(lines) {
    return false;
}

In [2]:
# imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pathlib import Path
import brownbear as bb

# format price data
pd.options.display.float_format = '{:0.2f}'.format

%matplotlib inline

/home/fja0568/src/brownbear
/home/fja0568/src/brownbear/universe/nasdaq100-galaxy

In [3]:
# set size of inline plots
'''note: rcParams can't be in same cell as import matplotlib
   or %matplotlib inline
   
   %matplotlib notebook: will lead to interactive plots embedded within
   the notebook, you can zoom and resize the figure
   
   %matplotlib inline: only draw static images in the notebook
'''
plt.rcParams["figure.figsize"] = (10, 7)

Globals

In [4]:
# set refresh_timeseries=True to download timeseries.  Otherwise /symbol-cache is used.
refresh_timeseries = True

In [5]:
# read in nasdaq100.csv
nasdaq100 = pd.read_csv('nasdaq100.csv')
#nasdaq100.drop(columns=['SEC filings'], inplace=True)
nasdaq100.rename(columns={'Ticker': 'Symbol',
                      'Company':'Description'}, inplace=True)
nasdaq100.set_index("Symbol", inplace=True)
nasdaq100

                          Description
Symbol
ATVI              Activision Blizzard
ADBE                       Adobe Inc.
AMD            Advanced Micro Devices
ALXN          Alexion Pharmaceuticals
ALGN                 Align Technology
...                               ...
WBA     Walgreen Boots Alliance, Inc.
WDAY                    Workday, Inc.
XEL                 Xcel Energy, Inc.
XLNX                     Xilinx, Inc.
ZM          Zoom Video Communications

[103 rows x 1 columns]

In [6]:
# read in gics-2-asset-class.csv
gics2asset_class = pd.read_csv('gics-2-asset-class.csv', skip_blank_lines=True, comment='#')
gics2asset_class.set_index("GICS", inplace=True)
gics2asset_class = gics2asset_class['Asset Class'].to_dict()
gics2asset_class

{'Energy': 'US Stocks:Energy',
 'Materials': 'US Stocks:Materials',
 'Industrials': 'US Stocks:Industrials',
 'Consumer Discretionary': 'US Stocks:Consumer Discretionary',
 'Consumer Staples': 'US Stocks:Consumer Staples',
 'Health Care': 'US Stocks:Healthcare',
 'Financials': 'US Stocks:Financials',
 'Information Technology': 'US Stocks:Technology',
 'Communication Services': 'US Stocks:Communication Services',
 'Utilities': 'US Stocks:Utilities',
 'Real Estate': 'US Stocks:Real Estate'}

In [7]:
# add Asset Class column
nasdaq100['Asset Class'] = 'US Stocks'

# yahoo finance uses '-' where '.' is used in symbol names
nasdaq100.index = nasdaq100.index.str.replace('.', '-')
nasdaq100

                          Description Asset Class
Symbol
ATVI              Activision Blizzard   US Stocks
ADBE                       Adobe Inc.   US Stocks
AMD            Advanced Micro Devices   US Stocks
ALXN          Alexion Pharmaceuticals   US Stocks
ALGN                 Align Technology   US Stocks
...                               ...         ...
WBA     Walgreen Boots Alliance, Inc.   US Stocks
WDAY                    Workday, Inc.   US Stocks
XEL                 Xcel Energy, Inc.   US Stocks
XLNX                     Xilinx, Inc.   US Stocks
ZM          Zoom Video Communications   US Stocks

[103 rows x 2 columns]

In [8]:
# make symbols list
symbols = list(nasdaq100.index)
#symbols

In [9]:
# get the timeseries for the symbols and compile into a single csv
bb.fetch_timeseries(symbols, refresh=refresh_timeseries)
bb.compile_timeseries(symbols)

.......................................................................................................

In [10]:
# read symbols timeseries into a dataframe
df = pd.read_csv('symbols-timeseries.csv', skip_blank_lines=True, comment='#')
df.set_index("Date", inplace=True)
df = df[:]
df

,ATVI,ADBE,AMD,ALXN,ALGN,GOOGL,GOOG,AMZN,AMGN,ADI,...,TCOM,ULTA,VRSN,VRSK,VRTX,WBA,WDAY,XEL,XLNX,ZM
Date,,,,,,,,,,,,,,,,,,,,,
2015-01-02,19.26,72.34,2.67,186.60,56.20,529.55,523.37,308.52,136.29,48.40,...,22.61,126.84,57.19,63.21,123.07,65.25,80.41,30.13,38.45,nan
2015-01-05,18.99,71.98,2.66,182.17,56.99,519.46,512.46,302.19,134.67,47.52,...,22.29,127.15,56.24,62.39,121.03,63.96,80.01,29.79,37.75,nan
2015-01-06,18.64,70.53,2.63,177.95,57.45,506.64,500.59,295.29,130.33,46.41,...,22.58,126.95,55.18,62.18,117.36,64.13,79.42,29.95,37.20,nan
2015-01-07,18.24,71.11,2.58,187.93,59.57,505.15,499.73,298.42,134.88,46.89,...,22.93,130.58,55.64,62.21,120.66,65.77,79.35,30.20,37.22,nan
2015-01-08,18.42,72.92,2.61,183.80,61.44,506.91,501.30,300.46,134.40,47.72,...,23.27,132.24,56.88,62.84,123.97,66.58,82.78,30.55,38.05,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-11-30,79.48,478.47,92.66,122.11,481.29,1754.40,1760.74,3168.04,222.04,138.47,...,33.59,275.40,200.72,198.31,227.75,38.01,224.79,67.36,145.55,478.36
2020-12-01,79.93,479.15,92.63,122.15,500.10,1795.36,1798.10,3220.08,225.08,140.11,...,34.41,279.53,200.75,200.14,230.30,38.46,225.70,68.41,145.80,406.31
2020-12-02,79.15,481.26,93.74,122.75,505.48,1824.97,1827.95,3203.53,226.56,140.04,...,33.15,282.00,200.24,195.99,226.70,39.84,225.43,68.68,147.11,412.86
2020-12-03,78.79,484.28,92.31,121.06,511.00,1821.84,1826.77,3186.73,226.91,139.75,...,35.22,289.53,200.81,193.85,226.87,42.82,224.17,67.31,144.39,413.54
2020-12-04,80.88,486.00,94.04,120.51,521.72,1823.76,1827.99,3162.58,229.21,143.97,...,35.06,279.54,203.99,195.68,228.32,43.41,222.18,65.75,147.91,410.01

In [11]:
annual_returns = bb.annualize_returns(df, timeperiod='daily', years=1)
annual_returns['AMZN']

81.70735162798293

In [12]:
# calculate annualized returns
annual_returns_1mo = bb.annualize_returns(df, timeperiod='daily', years=1/12)
annual_returns_3mo = bb.annualize_returns(df, timeperiod='daily', years=3/12)
annual_returns_1yr = bb.annualize_returns(df, timeperiod='daily', years=1)
annual_returns_3yr = bb.annualize_returns(df, timeperiod='daily', years=3)
annual_returns_5yr = bb.annualize_returns(df, timeperiod='daily', years=5)

In [13]:
# calculate volatility
daily_returns = df.pct_change()
years = bb.TRADING_DAYS_PER_MONTH / bb.TRADING_DAYS_PER_YEAR
vola = bb.annualized_standard_deviation(daily_returns, timeperiod='daily', years=years)
vola['AMZN']

0.27538177088988214

In [14]:
# calculate downside volatility
ds_vola = bb.annualized_standard_deviation(daily_returns, timeperiod='daily', years=years, downside=True)
ds_vola['AMZN']

0.200308161051173

In [15]:
# resample df on a monthly basis
df.index = pd.to_datetime(df.index)
monthly = df.resample('M').ffill()
bb.print_full(monthly['AMZN'])

Date
2015-01-31    354.53
2015-02-28    380.16
2015-03-31    372.10
2015-04-30    421.78
2015-05-31    429.23
2015-06-30    434.09
2015-07-31    536.15
2015-08-31    512.89
2015-09-30    511.89
2015-10-31    625.90
2015-11-30    664.80
2015-12-31    675.89
2016-01-31    587.00
2016-02-29    552.52
2016-03-31    593.64
2016-04-30    659.59
2016-05-31    722.79
2016-06-30    715.62
2016-07-31    758.81
2016-08-31    769.16
2016-09-30    837.31
2016-10-31    789.82
2016-11-30    750.57
2016-12-31    749.87
2017-01-31    823.48
2017-02-28    845.04
2017-03-31    886.54
2017-04-30    924.99
2017-05-31    994.62
2017-06-30    968.00
2017-07-31    987.78
2017-08-31    980.60
2017-09-30    961.35
2017-10-31   1105.28
2017-11-30   1176.75
2017-12-31   1169.47
2018-01-31   1450.89
2018-02-28   1512.45
2018-03-31   1447.34
2018-04-30   1566.13
2018-05-31   1629.62
2018-06-30   1699.80
2018-07-31   1777.44
2018-08-31   2012.71
2018-09-30   2003.00
2018-10-31   1598.01
2018-11-30   1690.17
2018-12-31   1501.97
2019-01-31   1718.73
2019-02-28   1639.83
2019-03-31   1780.75
2019-04-30   1926.52
2019-05-31   1775.07
2019-06-30   1893.63
2019-07-31   1866.78
2019-08-31   1776.29
2019-09-30   1735.91
2019-10-31   1776.66
2019-11-30   1800.80
2019-12-31   1847.84
2020-01-31   2008.72
2020-02-29   1883.75
2020-03-31   1949.72
2020-04-30   2474.00
2020-05-31   2442.37
2020-06-30   2758.82
2020-07-31   3164.68
2020-08-31   3450.96
2020-09-30   3148.73
2020-10-31   3036.15
2020-11-30   3168.04
2020-12-31   3162.58
Freq: M, Name: AMZN, dtype: float64

In [16]:
# calculate monthly returns
monthly_returns = monthly.pct_change()
monthly_returns['AMZN']

Date
2015-01-31     nan
2015-02-28    0.07
2015-03-31   -0.02
2015-04-30    0.13
2015-05-31    0.02
              ...
2020-08-31    0.09
2020-09-30   -0.09
2020-10-31   -0.04
2020-11-30    0.04
2020-12-31   -0.00
Freq: M, Name: AMZN, Length: 72, dtype: float64

In [17]:
# calculate standard deviation
std_dev = bb.annualized_standard_deviation(monthly_returns, timeperiod='monthly', years=3)
std_dev['AMZN']

0.3191707999027777

In [18]:
# read investment-options-header.csv
lines = []
with open('investment-options-in.csv', 'r') as f:
    lines = [line.strip() for line in f]
lines

['# Description: S&P 400 investment options. 10/02/2020',
 '',
 '# Format',
 '"Investment Option","Description","Asset Class","1 mo","3 mo","1 Yr","3 Yr","5 Yr","Vola","DS Vola","Std Dev"',
 '# Note: "Description" field is optional']

In [19]:
# for each symbol, write out the 1 Yr, 3 Yr, 5 Yr, and std dev
out = lines.copy()

# This is still slow (2.53 s)
for i, (index, row) in enumerate(nasdaq100.iterrows()):

    symbol = index
    description = row['Description']
    asset_class = row['Asset Class']

    ret_1mo = annual_returns_1mo[symbol]
    ret_3mo = annual_returns_3mo[symbol]
    ret_1yr = annual_returns_1yr[symbol]
    ret_3yr = annual_returns_3yr[symbol]
    ret_5yr = annual_returns_5yr[symbol]

    _vola = vola[symbol]*100
    _ds_vola = ds_vola[symbol]*100
    sd = std_dev[symbol]*100
    
    out.append(
        '"{}","{}","{}","{:0.2f}","{:0.2f}","{:0.2f}","{:0.2f}","{:0.2f}","{:0.2f}","{:0.2f}","{:0.2f}"'
        .format(symbol, description, asset_class,
                ret_1mo, ret_3mo, ret_1yr, ret_3yr, ret_5yr, _vola, _ds_vola, sd))

In [20]:
# write out asset-classes.csv
with open('investment-options.csv', 'w') as f:
    for line in out:
        f.write(line + '\n')